// _variables.scss
// =================
@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";
 
$blue          : #323257;
$darkBlue 	   : #262741;
$gold    	   : #A49F79;
$orange        : #F04B47;
$gray300       : #989898;
$gray450       : #4C4C4C;
$flatBlk       : #2E2D2C;
$pureWhite     : #FFFFFF;
$cloud		   : #ECF0F1;
 
$headFont : 'Patua One', sans-serif;
$bodyFont : 'Inika', serif;